


@font-face { font-family: Earth2073; src: url('Earth2073.ttf'); } 
.earth2073 { font-family: Earth2073; font-size: 4.2em; }


@font-face { font-family: Earthquake; src: url('EARTHQUAKE.TTF'); } 
.earthquake { font-family: Earthquake; font-size: 4.2em; }